{
    "env": {
        "test": {
            "presets": [
                ["@babel/preset-env",
                {
                    "targets": "since 2017"
                }]
            ]
        },
        "esm": {
            "presets": [
                ["@babel/preset-env",
                {
                    "targets": "since 2017"
                }]
            ]
        },
        "iife": {
            "presets": [
                ["@babel/preset-env",
                {
                    "targets": "since 2014, > 0.5%"
                }]
            ]
        }
    }
}
